[submodule "constraints"]
	path = constraints
	url = https://github.com/hdl/constraints
	ignore = dirty
[submodule "vivado/vivado-board-dependencies"]
	path = vivado/vivado-board-dependencies
	url = https://github.com/jwyffels2/vivado-board-dependencies.git

[submodule "neorv32-hal"]
	path = neorv32-hal
	url = https://github.com/jwyffels2/helios-neorv32-hal.git

[submodule "neorv32"]
	path = neorv32
	url = https://github.com/jwyffels2/neorv32.git
